$itemBgColor: #409EFF;
$fontColor: #fff;
$itemHeight: 40px;
$itemMargin: 10px;
$borderWidth: $itemHeight / 2;
$tailScale: 4 / 24;
$itemWidth: $borderWidth * 2 / $tailScale;
/* 整体宽=尾部的宽/尾部占比*/
$bigCircleWidth: 30px;
$smallCircleWidth: 20px;
$middleHeight: 4 * $bigCircleWidth;

.workflow-container {
  opacity: 0;
  float: left;
  width: $itemWidth - 30px;
  position: relative;
  margin-bottom: 10px;
  height: ($bigCircleWidth + $middleHeight + $smallCircleWidth) * 2 + $itemMargin * 2 + $itemHeight
}